<div th:fragment="navbar">
    <nav class="navbar navbar-expand navbar-light navbar-bg">
        <a class="sidebar-toggle js-sidebar-toggle">
            <i class="hamburger align-self-center"></i>
        </a>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-align">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                        <span class="fw-bolder">
                            <span id="current_lang"></span>
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="setLang('RUS')">RUS</a>
                        <a class="dropdown-item" onclick="setLang('UZB')">UZB</a>
                        <a class="dropdown-item" onclick="setLang('ENG')">ENG</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                        <i class="align-middle" data-feather="settings"></i>
                    </a>

                    <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                        <img th:src="@{/static/img/avatars/user_logo.png}" class="avatar img-fluid rounded me-1" alt="Charles Hall" /> <span class="text-dark" th:text="${session.username}"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" th:href="@{/profile}"><i class="align-middle me-1" data-feather="user"></i> Профиль</a>
                        <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="settings"></i> Настройки</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" th:href="@{/logout}"><i class="align-middle mb-1" data-feather="log-out"></i> <span>Выйти</span></a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>