<div th:fragment="sidebar">
    <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" th:href="@{/dashboard}">
                <img th:src="@{/static/img/photos/logo_ipoteka.png}" alt="Ipoteka" class="img-fluid" width="120" height="auto" />
                <span class="align-middle">HRMS</span>
            </a>

            <ul class="sidebar-nav">
<!--                <li class="sidebar-header">-->
<!--                    Pages-->
<!--                </li>-->

                <li class="sidebar-item">
                    <a class="sidebar-link" th:href="@{/dashboard}">
                        <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">
                        Панель управления
                    </span>
                    </a>
                </li>

                <!--/*@thymesVar id="systems" type=""*/-->
                <li th:each="item : ${session.systems}" class="sidebar-item">
                    <a class="sidebar-link" th:href="@{'/' + ${item.getPage_url()}}">
                        <i class="align-middle" th:data-feather="${item.getPage_icon()}"></i>
                        <span class="align-middle" th:text="${item.getName_ru()}"></span>
                        <span th:if="${item.page_role=='super_admin'}" class="fw-bolder menu-role-type text-info">A</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
